<div class="row mt-3 mb-3">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
            <div *ngIf="auth.user$ | async; then authenticated else guest">
                    <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                    </div>
            </div>
                    
                    <!-- User NOT logged in -->
                    <ng-template #guest>
                            <button (click)="auth.googleSignin()" class="btn btn-danger d-block mx-auto" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <h6 class="text-muted text-center mt-1"> Login to submit your vote.</h6>
                    </ng-template>
                    
                    
                    <!-- User logged in -->
                    <ng-template #authenticated>
                    <div *ngIf="auth.user$ | async as user">
                                <nav class="navbar navbar-light bg-faded">
                                    <div class="mx-auto">
                                                    
                                                    <div class="btn-group ">
                                                            <button *ngIf="!user.isUsed" class="btn btn-dark" data-toggle="modal" data-target="#voteMod">Vote Now</button>
                                                            <button type="button" class="btn btn-outline-primary " disabled><i class="far fa-user"></i> {{user.displayName}}</button>
                                                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                              <span class="sr-only">Toggle Dropdown</span>
                                                            </button>
                                                            <div class="dropdown-menu">
                                                              <a class="dropdown-item" (click)="auth.signOut()" href="#">Sing out</a>
                                                              <div class="dropdown-divider"></div>
                                                              <a class="dropdown-item mx-auto" href="#">From <span class="text-muted">Google</span></a>
                                                            </div>
                                                          </div>
                                    </div>
                                </nav>
                    </div>
                    <!-- Modal -->
            <div *ngIf="auth.user$ | async as user" class="modal fade" id="voteMod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div *ngIf="!user.isUsed" class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Select your candidate</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div *ngIf="!user.isUsed" class="modal-body">
                            <div class="alert alert-primary" role="alert">
                                Choose wisely ! your can only vote once.
                            </div>
                          <form>
                              <div class="form-check">
                                  <input class="form-check-input" value="gota" type="radio" name="vote" [(ngModel)]="voteFor" required #voteControl="ngModel" id="gotaRadio">
                                  <label class="form-check-label" for="gotaRadio">
                                    Gotabhaya Rajapaksa
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" value="akd" type="radio" name="vote" [(ngModel)]="voteFor"  id="akdRadio">
                                  <label class="form-check-label" for="akdRadio">
                                    Anura Kumara
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" value="sajith" type="radio" name="vote" [(ngModel)]="voteFor"  id="sajithRadio">
                                  <label class="form-check-label" for="sajithRadio">
                                    Sajith Premadasa
                                  </label>
                              </div>
                              <div class="form-check">
                                  <input class="form-check-input" value="mahesh" type="radio" name="vote" [(ngModel)]="voteFor"  id="maheshRadio">
                                  <label class="form-check-label" for="maheshRadio">
                                    Mahesh Senanayake
                                  </label>
                              </div>
                              <div class="text-center mt-3">
                                <button class="btn btn-primary" (click)="vote(user.uid)" [disabled]="voteControl.errors">Submit Vote</button>
                              </div>
                              
                          </form>
                        </div>
                        <div *ngIf="user.isUsed" class="modal-body">
                          <div class="text-center"><i class="fas fa-vote-yea"></i><strong> Vote Submited. Thanks !</strong></div>
                          
                        </div>
                       <!-- <div *ngIf="user.isUsed" class="modal-footer">
                            
                          <div class="text-center text-muted"> <i class="fab fa-facebook-square"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share on Facebook</a></div>
                          
                          
                        </div>-->
                        <div *ngIf="!user.isUsed" class="modal-footer text-center">
                          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                          <span class="text-center" *ngIf="!voteFor">Please select to vote.</span>
                          <span *ngIf="voteFor == 'gota'">Selected <strong>Gotabhaya Rajapaksa</strong></span>
                          <span *ngIf="voteFor == 'akd'">Selected <strong>Anura Kumara</strong></span>
                          <span *ngIf="voteFor == 'sajith'">Selected <strong>Sajith Premadasa</strong></span>
                          <span *ngIf="voteFor == 'mahesh'">Selected <strong>Mahesh Senanayake</strong></span>
                          
                        </div>
                      </div>
                    </div>
                  </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
